{
  "printWidth": 80,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<TYPES>",
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^~/config(.*)$",
    "^~/components(.*)$",
    "",
    "^~/features(.*)$",
    "",
    "^~/store(.*)$",
    "",
    "^[~/]",
    "",
    "^[./]",
    "",
    ".css$"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}