{
  "printWidth": 80,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<TYPES>",
    "^react$",
    "^next(.*)$",
    "",
    "^config(.*)$",
    "^components(.*)$",
    "",
    "^features(.*)$",
    "",
    "^@(.*)$",
    "",
    "store",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]",
    "",
    ".css$"
  ]
}
