name: deploy-ui-to-canh-testing-mainnet
on:
  push:
    branches: canh-testing
  workflow_dispatch:

jobs:
  deploy-ui-to-canh-testing-mainnet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: amondnet/vercel-action@v20
        id: deploy-ui-to-canh-testing-mainnet
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.CTT_PERSONAL_VERCEL_PROJECT_ID }}
          vercel-args: "--prod"
          alias-domains: |
            canh-testing.vercel.app
